body{
    margin: 0;
    left: 0px;
    right: 0px;
}
.main-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.nav-bar {
    width: 10%;
    height: 100vh;
}
.work-container {
    max-width: 900px;
    min-height: 100vh;
    flex-grow: 1;
    margin-top: 15%
}
.work-space {
    /* margin-left: 15rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-left: 2rem;
    padding-right: 2rem;
}
.form-container {

}